.register,
.login {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  .register__header,
  .login__header {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
  .container {
    padding: 25px;
    background-color: white;
    margin-top: 20px;
    border-radius: 6px;
  }
  .register__nav-link,
  .login__nav-link {
    margin-top: 10px;
    text-align: center;
  }
}

.auth__input {
  padding: 10px auto;
}
